<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="/img/weather.png">
    <title>About - {{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="main-content">
    {{>header }}
    <img alt="me.jpg" class=".portrait" src="/img/weather.png" />
</div>
{{>footer }}
</body>
</html>