<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Home - {{title}}</title>
</head>
<body>
<div class="main-content">
    {{>header }}

    <p>Use this site to get your weather report.</p>

     <form>
         <label>
             <input placeholder="location">
         </label>
         <button>Search</button>
     </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
</div>
{{>footer }}
<script src="/js/script.js"></script>
</body>
</html>
