<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    <title>Home - {{title}}</title>
</head>
<body>
<div class="main-content">
    {{>header }}

    <p>This paragraph contains a portion of the website.</p>
</div>
{{>footer }}
</body>
</html>
